@media (max-width:930px){
    .feature{
        width: 100%;
    }
    .email-form2 button{
        width: 60%;
    }
}

@media (max-width:767px){
    *{
        font-size: 15px;
        /* font-size: 1rem; */
    }
    h1{
        font-size: 1.5rem;
        margin: 10% 0;
    }
    p,.p1{
        font-size: 1rem;
    }
    .top-nav{
        margin-top: 5%;
    }
    .intro{
        margin-top: 25%;
    }
    .logo{
        width: fit-content;
    }
    .logo-img{
        width: 5rem;
    }
    .menu{
        width: 60%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .menu p{
        font-size: 0.7rem;
    }
    .intro,.get-access{
        text-align: center;
    }
    .feature{
        text-align: left;
        margin-bottom: 15%;
        
    }
    .feature p{
        font-size: 0.9rem;
    }
    .benifits h1{
        font-size: 1rem;
        text-align: center;
        margin: 10% 0;
    }
    .benifits .a{
        text-align: center;
    }
    .benifits-left{
        order:2;
        padding: 0 5%;
    }
    .benifits-left .blp{
        margin-right: 0%;
    }
    .benifits-right{
        order:1;
        padding: 0 5%;
        text-align: center;
    }
    .intro-right{
        order: 1;
    }
    .intro-left{
        order: 2;
    }
    .illustration-1,.illustration-2{
        width: 90%;
        margin: 0 auto;
    }
    .get-access{
        padding: 10% 5%;
    }
    .contact-footer div{
        margin-top: 10%;
    }
    .contact-logo-img{
        width: 7rem;
    }
    .sm{
        justify-content: center;
    }
}
@media (max-width:450px){
    .email-form1 input,.in{
        width: 100%;
    }
    .email-form1 button{
        width: 100%;
        margin: 0;
    }
    .get-access .e1{
        width: 100%;
    }
    .email-form2 button{
        width: 100%;
    }
}
@media (min-width:2000px){
    *{
        font-size: 1rem;
        /* font-size: 1rem; */
    }
    h1{
        font-size: 5rem;
        margin: 10% 0;
    }
    p,.p1{
        font-size: 2.5rem;
    }
}
